In [2]:
import pickle
from scipy import stats 
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import warnings
import sidetable
warnings.filterwarnings('ignore')
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
from geopy.geocoders import Nominatim

plt.rcParams["figure.figsize"] = (10,8)

pd.options.display.max_columns = None

# DATAFRAME COMPLETO

In [3]:
df = pd.read_csv('data/encuesta_analistas.csv', index_col=0)
df.sample()

,edad,genero,pais,formacion,ocupacion,lenguajes_programacion,lenguajes_recomendados,IDE,plataforma_computacion,visualizacion,sector,tamaño_empresa,equipo,actividades,salario,productos_big_data,herramienta_data_analytics,notebooks,plataformas_nube,uso_plataformas,formacion_data,fuentes_online
12438,22-24,Woman,India,Master’s degree,Data Analyst,NaN,NaN,NaN,NaN,NaN,Academics/Education,0-49 employees,0,"Analyze and understand data to influence product or business decisions, Build and/or r...",$0-999,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# VISUALIZACIÓN

In [4]:
df_split_vis = df["visualizacion"].str.split(",").apply(pd.Series)
df_split_vis

,0,1,2,3,4,5,6,7,8,9
16,Matplotlib,Seaborn,Plotly / Plotly Express,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Matplotlib,Plotly / Plotly Express,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Plotly / Plotly Express,Ggplot / ggplot2,Shiny,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
25954,Matplotlib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25959,Matplotlib,Seaborn,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25965,Matplotlib,Seaborn,Plotly / Plotly Express,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25966,Matplotlib,Seaborn,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25968,Matplotlib,Seaborn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_conteo_visualizacion = pd.concat([df_split_vis[0].value_counts(), df_split_vis[1].value_counts(),df_split_vis[2].value_counts(),df_split_vis[3].value_counts(),df_split_vis[4].value_counts(),df_split_vis[5].value_counts(),df_split_vis[6].value_counts(),df_split_vis[7].value_counts(), df_split_vis[8].value_counts(), df_split_vis[9].value_counts()], axis=1)

In [6]:
df_conteo_visualizacion.fillna(0, inplace=True)

In [7]:
df_conteo_visualizacion["total"] = df_conteo_visualizacion[0]+ df_conteo_visualizacion[1]+df_conteo_visualizacion[2]+df_conteo_visualizacion[3]+df_conteo_visualizacion[4]+ df_conteo_visualizacion[5]+df_conteo_visualizacion[6]+df_conteo_visualizacion[7] +df_conteo_visualizacion[8]+df_conteo_visualizacion[9]
df_conteo_visualizacion

,0,1,2,3,4,5,6,7,8,9,total
Matplotlib,1464,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1464.0
None,255,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,255.0
Ggplot / ggplot2,141,138.0,194.0,168.0,0.0,0.0,0.0,0.0,0.0,0.0,641.0
Seaborn,90,1061.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1151.0
Plotly / Plotly Express,75,101.0,413.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,589.0
Other,57,12.0,21.0,7.0,6.0,1.0,1.0,0.0,0.0,0.0,105.0
Bokeh,6,8.0,22.0,25.0,19.0,12.0,6.0,5.0,0.0,0.0,103.0
D3 js,6,18.0,14.0,19.0,13.0,11.0,0.0,0.0,0.0,0.0,81.0
Shiny,5,41.0,52.0,44.0,42.0,0.0,0.0,0.0,0.0,0.0,184.0
Altair,5,5.0,7.0,10.0,2.0,5.0,5.0,0.0,0.0,0.0,39.0
Geoplotlib,3,17.0,34.0,41.0,29.0,9.0,5.0,2.0,5.0,0.0,145.0
Leaflet / Folium,1,7.0,11.0,20.0,19.0,7.0,4.0,3.0,1.0,5.0,78.0

# NOTEBOOKS

In [8]:
df_split_not = df["notebooks"].str.split(",").apply(pd.Series)
df_split_not

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
16,Databricks Collaborative Notebooks,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Kaggle Notebooks,Azure Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,IBM Watson Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25954,Binder / JupyterHub,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25959,Kaggle Notebooks,Google Cloud Notebooks (AI Platform / Vertex AI),Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25965,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25966,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25968,Amazon Sagemaker Studio Notebooks,Colab Notebooks,Databricks Collaborative Notebooks,Amazon EMR Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_conteo_notebooks = pd.concat([df_split_not[0].value_counts(), df_split_not[1].value_counts(),df_split_not[2].value_counts(),df_split_not[3].value_counts(),df_split_not[4].value_counts(),df_split_not[5].value_counts(),df_split_not[6].value_counts(),df_split_not[7].value_counts(), df_split_not[8].value_counts(),df_split_not[9].value_counts(),df_split_not[10].value_counts(),df_split_not[11].value_counts(),df_split_not[12].value_counts(),df_split_not[13].value_counts(),df_split_not[14].value_counts(),df_split_not[15].value_counts()], axis=1)

In [10]:
df_conteo_notebooks.fillna(0, inplace=True)

In [11]:
df_conteo_notebooks["total"] = df_conteo_notebooks[0]+ df_conteo_notebooks[1]+df_conteo_notebooks[2]+df_conteo_notebooks[3]+df_conteo_notebooks[4]+ df_conteo_notebooks[5]+df_conteo_notebooks[6]+df_conteo_notebooks[7] + df_conteo_notebooks[8]+df_conteo_notebooks[9]+df_conteo_notebooks[10]+df_conteo_notebooks[11]+df_conteo_notebooks[12]+df_conteo_notebooks[13]+df_conteo_notebooks[14]+df_conteo_notebooks[15]

In [12]:
df_conteo_notebooks

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,total
Kaggle Notebooks,683.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,683.0
None,658.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,658.0
Colab Notebooks,243.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,243.0
Google Cloud Datalab,145.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,145.0
Other,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75.0
Binder / JupyterHub,74.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74.0
Google Cloud Notebooks (AI Platform / Vertex AI),61.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.0
Amazon Sagemaker Studio Notebooks,46.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46.0
Databricks Collaborative Notebooks,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0
IBM Watson Studio,36.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.0
Azure Notebooks,28.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0
Observable Notebooks,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0
Deepnote Notebooks,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
Zeppelin / Zepl Notebooks,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
Paperspace / Gradient,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
Amazon EMR Notebooks,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
Code Ocean,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
Colab Notebooks,0.0,318.0,100.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,419.0
Kaggle Notebooks,0.0,108.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,110.0
Binder / JupyterHub,0.0,66.0,19.0,12.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,103.0
Google Cloud Notebooks (AI Platform / Vertex AI),0.0,55.0,35.0,6.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,108.0
IBM Watson Studio,0.0,38.0,17.0,2.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.0
Azure Notebooks,0.0,34.0,14.0,14.0,9.0,2.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,82.0
Other,0.0,19.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
Databricks Collaborative Notebooks,0.0,9.0,9.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Amazon EMR Notebooks,0.0,9.0,1.0,9.0,2.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,30.0
Amazon Sagemaker Studio Notebooks,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
Code Ocean,0.0,3.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,13.0
Observable Notebooks,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
Zeppelin / Zepl Notebooks,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
Deepnote Notebooks,0.0,1.0,1.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
Google Cloud Datalab,0.0,0.0,8.0,17.0,8.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,42.0
Paperspace / Gradient,0.0,0.0,1.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

# ACTIVIDADES

In [13]:
df_activities = df["actividades"].str.split(",").apply(pd.Series)
df_activities

,0,1,2,3,4,5,6,7
16,Analyze and understand data to influence product or business decisions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Analyze and understand data to influence product or business decisions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Analyze and understand data to influence product or business decisions,Build and/or run the data infrastructure that my business uses for storing,analyzing,and operationalizing data,Build prototypes to explore applying machine learning to new areas,Build and/or run a machine learning service that operationally improves my product or...,NaN,NaN
52,Analyze and understand data to influence product or business decisions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
25954,Analyze and understand data to influence product or business decisions,Do research that advances the state of the art of machine learning,NaN,NaN,NaN,NaN,NaN,NaN
25959,Analyze and understand data to influence product or business decisions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25966,Experimentation and iteration to improve existing ML models,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25968,Analyze and understand data to influence product or business decisions,Build and/or run the data infrastructure that my business uses for storing,analyzing,and operationalizing data,NaN,NaN,NaN,NaN

In [14]:
df_conteo_actividades = pd.concat([df_activities[0].value_counts(), df_activities[1].value_counts(),df_activities[2].value_counts(),df_activities[3].value_counts(),df_activities[4].value_counts(),df_activities[5].value_counts(),df_activities[6].value_counts(),df_activities[7].value_counts()], axis=1)

In [15]:
df_conteo_actividades.fillna(0, inplace=True)

In [27]:
df_conteo_actividades["total"] = df_conteo_actividades[0]+ df_conteo_actividades[1]+df_conteo_actividades[2]+df_conteo_actividades[3]+df_conteo_actividades[4]+ df_conteo_actividades[5]+df_conteo_actividades[6]+df_conteo_actividades[7]
df_conteo_actividades

,0,1,2,3,4,5,6,7,total
Analyze and understand data to influence product or business decisions,1653.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1653.0
None of these activities are an important part of my role at work,168.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,168.0
Build and/or run the data infrastructure that my business uses for storing,88.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,688.0
Other,63.0,13.0,1.0,1.0,4.0,2.0,1.0,0.0,85.0
Build prototypes to explore applying machine learning to new areas,45.0,129.0,0.0,16.0,215.0,0.0,0.0,0.0,405.0
Build and/or run a machine learning service that operationally improves my product or workflows,25.0,58.0,38.0,9.0,53.0,123.0,0.0,0.0,306.0
Do research that advances the state of the art of machine learning,19.0,42.0,37.0,18.0,26.0,27.0,23.0,56.0,248.0
Experimentation and iteration to improve existing ML models,13.0,66.0,39.0,16.0,26.0,40.0,90.0,0.0,290.0
analyzing,0.0,88.0,600.0,0.0,0.0,0.0,0.0,0.0,688.0
and operationalizing data,0.0,0.0,88.0,600.0,0.0,0.0,0.0,0.0,688.0

# LENGUAJES PROGRAMACIÓN

In [17]:
df_lp = df["lenguajes_programacion"].str.split(",").apply(pd.Series)

In [18]:
df_conteo_lenguajes = pd.concat([df_lp[0].value_counts(), df_lp[1].value_counts(),df_lp[2].value_counts(),df_lp[3].value_counts(),df_lp[4].value_counts(),df_lp[5].value_counts(),df_lp[6].value_counts(),df_lp[7].value_counts(),df_lp[8].value_counts(),df_lp[9].value_counts(),df_lp[10].value_counts(),df_lp[11].value_counts() ], axis=1)

In [19]:
df_conteo_lenguajes.fillna(0, inplace=True)

In [20]:
df_conteo_lenguajes["total"] = df_conteo_lenguajes[0]+ df_conteo_lenguajes[1]+df_conteo_lenguajes[2]+df_conteo_lenguajes[3]+df_conteo_lenguajes[4]+ df_conteo_lenguajes[5]+df_conteo_lenguajes[6]+df_conteo_lenguajes[7]+df_conteo_lenguajes[8]+ df_conteo_lenguajes[9]+df_conteo_lenguajes[10]+df_conteo_lenguajes[11]

In [25]:
df_conteo_lenguajes

,0,1,2,3,4,5,6,7,8,9,10,11,total
Python,1804.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1804.0
R,132.0,583.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,715.0
SQL,130.0,833.0,436.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1399.0
None,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0
Other,26.0,54.0,67.0,33.0,23.0,6.0,1.0,1.0,1.0,0.0,0.0,1.0,213.0
C,13.0,40.0,76.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,171.0
C++,7.0,39.0,66.0,64.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,205.0
Javascript,5.0,30.0,63.0,66.0,28.0,27.0,10.0,0.0,0.0,0.0,0.0,0.0,229.0
MATLAB,4.0,26.0,51.0,46.0,21.0,11.0,10.0,4.0,1.0,0.0,3.0,0.0,177.0
Java,4.0,34.0,64.0,56.0,41.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,214.0
Swift,1.0,0.0,1.0,1.0,2.0,1.0,4.0,0.0,3.0,0.0,0.0,0.0,13.0
Bash,0.0,7.0,40.0,29.0,10.0,4.0,6.0,3.0,0.0,3.0,0.0,0.0,102.0
Julia,0.0,2.0,4.0,4.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,13.0